spring:
  application:
    name: {{project.general.name}}
  profiles:
    active: local
  r2dbc:
    url: ${DB_URL:r2dbc:{{database.sgbd}}://localhost:{{database.port}}/{{project.general.name_underscore}}_db}
    username: ${DB_USERNAME:{{database.username}}}
    password: ${DB_PASSWORD:{{database.password}}}
  data:
    r2dbc:
      repositories:
        enabled: true
  flyway:
    url: ${FLYWAY_URL:jdbc:{{database.sgbd}}://localhost:{{database.port}}/{{project.general.name_underscore}}_db}
    user: ${DB_USERNAME:{{database.username}}}
    password: ${DB_PASSWORD:{{database.password}}}
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: false
    enabled: true

server:
  port: {{server.port}}

logging:
  level:
    # Changed from DEBUG to INFO to hide the auto-configuration report
    root: INFO
    org.springframework.security: INFO

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    try-it-out-enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always