package {{packageName}};

import org.springframework.data.annotation.Id;
import org.springframework.data.relational.core.mapping.Table;
import org.springframework.data.relational.core.mapping.Column;
import lombok.Data;
import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
import lombok.Builder;
import {{domain_model}}.EntityStatus;
{{#imports}}
import {{import}};
{{/imports}}

/**
 * R2DBC Entity representing {{entityName}} data in the database.
 * <p>
 * This class serves as the Data Base Object (DBO) in the Clean Architecture,
 * containing R2DBC annotations for reactive persistence mapping. It includes audit fields
 * for tracking creation and modification timestamps.
 * </p>
 * 
 * @author {{author}}
 * @version {{version}}
 */
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
@Table("{{tableName}}")
public class {{classname}} {

    @Id
    @Column("{{entityNameSnake}}_id")
    private String id;

{{#vars}}
    {{^isIdField}}
    {{^isTimestampField}}
    {{#isStatusField}}
    @Column("{{nameSnake}}")
    @Builder.Default
    private EntityStatus {{name}} = EntityStatus.ACTIVE;
    {{/isStatusField}}
    {{^isStatusField}}
    @Column("{{nameSnake}}")
    private {{dataType}} {{name}};
    {{/isStatusField}}
    {{/isTimestampField}}
    {{/isIdField}}
{{/vars}}

    @Column("status")
    @Builder.Default
    private EntityStatus status = EntityStatus.ACTIVE;
    
    @Column("created_at")
    private String createdAt;

    @Column("updated_at")
    private String updatedAt;
}
