<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 
         http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>
    
    <parent>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-starter-parent</artifactId>
        <version>3.2.5</version>
    </parent>
    
    <groupId>{{groupId}}</groupId>
    <artifactId>{{artifactId}}</artifactId>
    <version>{{artifactVersion}}</version>
    
    <properties>
        <java.version>{{project.dependencies.java}}</java.version>
        <spring-boot.version>{{project.dependencies.springBoot}}</spring-boot.version>
        <spring-webflux.version>{{project.dependencies.springWebflux}}</spring-webflux.version>
        <spring-data-r2dbc.version>{{project.dependencies.springDataR2dbc}}</spring-data-r2dbc.version>
        <r2dbc-postgresql.version>{{project.dependencies.r2dbcPostgresql}}</r2dbc-postgresql.version>
        <r2dbc-h2.version>{{project.dependencies.r2dbcH2}}</r2dbc-h2.version>
        <mapstruct.version>{{project.dependencies.mapstruct}}</mapstruct.version>
        <lombok.version>{{project.dependencies.lombok}}</lombok.version>
        <springdoc-webflux.version>{{project.dependencies.springdocWebflux}}</springdoc-webflux.version>
        <reactor-test.version>{{project.dependencies.reactorTest}}</reactor-test.version>
        {{#database.postgresql}}<postgresql.version>{{project.dependencies.postgresql}}</postgresql.version>{{/database.postgresql}}
        {{#database.mysql}}<mysql.version>{{project.dependencies.mysql}}</mysql.version>{{/database.mysql}}
        {{#database.oracle}}<oracle.version>{{project.dependencies.oracle}}</oracle.version>{{/database.oracle}}
        {{#database.sqlserver}}<sqlserver.version>{{project.dependencies.sqlserver}}</sqlserver.version>{{/database.sqlserver}}
        {{#database.h2}}<h2.version>{{project.dependencies.h2}}</h2.version>{{/database.h2}}
        <maven-compiler.version>{{project.dependencies.mavenCompiler}}</maven-compiler.version>
        <maven-surefire.version>{{project.dependencies.mavenSurefire}}</maven-surefire.version>
        <lombok-mapstruct-binding.version>{{project.dependencies.lombokMapstructBinding}}</lombok-mapstruct-binding.version>
        <jacoco.version>{{project.dependencies.jacoco}}</jacoco.version>
        {{#database.postgresql}}<flyway-database-postgresql.version>{{project.dependencies.flywayDatabasePostgresql}}</flyway-database-postgresql.version>{{/database.postgresql}}{{#database.mysql}}<flyway-database-mysql.version>{{project.dependencies.flywayDatabaseMysql}}</flyway-database-mysql.version>{{/database.mysql}}{{#database.oracle}}<flyway-database-oracle.version>{{project.dependencies.flywayDatabaseOracle}}</flyway-database-oracle.version>{{/database.oracle}}{{#database.sqlserver}}<flyway-database-sqlserver.version>{{project.dependencies.flywayDatabaseSqlserver}}</flyway-database-sqlserver.version>{{/database.sqlserver}}
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>
    </properties>
    
    <distributionManagement>
        <repository>
            <id>github</id>
            <name>GitHub Packages</name>
            <url>{{devops.ci.publishDistributionRepo}}</url>
        </repository>
    </distributionManagement>
    
    <dependencies>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-webflux</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-data-r2dbc</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-validation</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-oauth2-resource-server</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-actuator</artifactId>
        </dependency>
        {{#database.postgresql}}<dependency>
            <groupId>org.postgresql</groupId>
            <artifactId>r2dbc-postgresql</artifactId>
            <version>${r2dbc-postgresql.version}</version>
            <scope>runtime</scope>
        </dependency>
        <dependency>
            <groupId>org.postgresql</groupId>
            <artifactId>postgresql</artifactId>
            <version>${postgresql.version}</version>
            <scope>runtime</scope>
        </dependency>
        <dependency>
            <groupId>org.flywaydb</groupId>
            <artifactId>flyway-core</artifactId>
        </dependency>
        <dependency>
            <groupId>org.flywaydb</groupId>
            <artifactId>flyway-database-postgresql</artifactId>
            <version>${flyway-database-postgresql.version}</version>
        </dependency>{{/database.postgresql}}{{#database.h2}}<dependency>
            <groupId>io.r2dbc</groupId>
            <artifactId>r2dbc-h2</artifactId>
            <version>${r2dbc-h2.version}</version>
            <scope>test</scope>
        </dependency>{{/database.h2}}
        <dependency>
            <groupId>org.projectlombok</groupId>
            <artifactId>lombok</artifactId>
            <version>${lombok.version}</version>
            <optional>true</optional>
        </dependency>
        <dependency>
            <groupId>org.mapstruct</groupId>
            <artifactId>mapstruct</artifactId>
            <version>${mapstruct.version}</version>
        </dependency>
        <dependency>
            <groupId>org.springdoc</groupId>
            <artifactId>springdoc-openapi-starter-webflux-ui</artifactId>
            <version>${springdoc-webflux.version}</version>
        </dependency>
        
        <!-- Test Dependencies -->
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-test</artifactId>
            <scope>test</scope>
        </dependency>
        <dependency>
            <groupId>io.projectreactor</groupId>
            <artifactId>reactor-test</artifactId>
            <version>${reactor-test.version}</version>
            <scope>test</scope>
        </dependency>
        <dependency>
            <groupId>io.r2dbc</groupId>
            <artifactId>r2dbc-h2</artifactId>
            <scope>test</scope>
        </dependency>
        <dependency>
            <groupId>org.springframework.security</groupId>
            <artifactId>spring-security-test</artifactId>
            <scope>test</scope>
        </dependency>
    </dependencies>
    
    <build>
        <plugins>
            <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
                <configuration>
                    <excludes>
                        <exclude>
                            <groupId>org.projectlombok</groupId>
                            <artifactId>lombok</artifactId>
                        </exclude>
                    </excludes>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-compiler-plugin</artifactId>
                <version>${maven-compiler.version}</version>
                <configuration>
                    <source>${java.version}</source>
                    <target>${java.version}</target>
                    <encoding>UTF-8</encoding>
                    <annotationProcessorPaths>
                        <path>
                            <groupId>org.projectlombok</groupId>
                            <artifactId>lombok</artifactId>
                            <version>${lombok.version}</version>
                        </path>
                        <path>
                            <groupId>org.projectlombok</groupId>
                            <artifactId>lombok-mapstruct-binding</artifactId>
                            <version>${lombok-mapstruct-binding.version}</version>
                        </path>
                        <path>
                            <groupId>org.mapstruct</groupId>
                            <artifactId>mapstruct-processor</artifactId>
                            <version>${mapstruct.version}</version>
                        </path>
                    </annotationProcessorPaths>
                    
                    <compilerArgs>
                        <compilerArg>
                            -Amapstruct.defaultComponentModel=spring
                        </compilerArg>
                    </compilerArgs>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-surefire-plugin</artifactId>
                <version>${maven-surefire.version}</version>
                <configuration>
                    <useSystemClassLoader>false</useSystemClassLoader>
                    <forkCount>1</forkCount>
                    <reuseForks>false</reuseForks>
                    <argLine>@{argLine} -Dfile.encoding=UTF-8 -Duser.timezone=UTC</argLine>
                    <systemPropertyVariables>
                        <spring.profiles.active>test</spring.profiles.active>
                    </systemPropertyVariables>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.jacoco</groupId>
                <artifactId>jacoco-maven-plugin</artifactId>
                <version>${jacoco.version}</version>
                <executions>
                    <execution>
                        <goals>
                            <goal>prepare-agent</goal>
                        </goals>
                    </execution>
                    <execution>
                        <id>report</id>
                        <phase>test</phase>
                        <goals>
                            <goal>report</goal>
                        </goals>
                        <configuration>
                            <formats>
                                <format>HTML</format>
                                <format>XML</format>
                            </formats>
                            <excludes>
                                <exclude>**/domain/**</exclude>
                                <exclude>**/dto/**</exclude>
                                <exclude>**/config/**</exclude>
                                <exclude>**/*Application.class</exclude>
                                <exclude>**/entity/**</exclude>
                                <exclude>**/repository/**</exclude>
                            </excludes>
                        </configuration>
                    </execution>
                    <execution>
                        <id>check</id>
                        <goals>
                            <goal>check</goal>
                        </goals>
                        <configuration>
                            <excludes>
                                <exclude>**/domain/**</exclude>
                                <exclude>**/dto/**</exclude>
                                <exclude>**/config/**</exclude>
                                <exclude>**/*Application.class</exclude>
                                <exclude>**/entity/**</exclude>
                                <exclude>**/repository/**</exclude>
                            </excludes>
                            <rules>
                                <rule>
                                    <element>BUNDLE</element>
                                    <limits>
                                        <limit>
                                            <counter>INSTRUCTION</counter>
                                            <value>COVEREDRATIO</value>
                                            <minimum>0.{{devops.ci.coverageThreshold}}</minimum>
                                        </limit>
                                    </limits>
                                </rule>
                            </rules>
                        </configuration>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>
</project>
