spring:
  application:
    name: back-ms-users
  profiles:
    active: local
  datasource:
    url: jdbc:postgresql://localhost:5432/back-ms-users_db
    username: postgres
    password: password123
    driver-class-name: 
  jpa:
    database-platform: 
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    url: jdbc:postgresql://localhost:5432/back-ms-users_db
    user: postgres
    password: password123
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true
    enabled: true
    create-schemas: true

server:
  port: 8080

logging:
  level:
    "": DEBUG
    org.springframework.security: DEBUG

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    try-it-out-enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always