apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: {{template_id}}
  description: {{template_description}}
  tags:
    - java
    - {{stack_type}}
    - hexagonal-architecture
    - template
  annotations:
    github.com/project-slug: {{github_org}}/backstage-templates
spec:
  type: template
  owner: {{default_owner}}
  lifecycle: production
  subcomponentOf: component:default/hexagonal-architecture-templates
