apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: {{template_id}}
  description: {{template_description}}
  tags:
    - java
    - {{stack_type_kebab}}
    - hexagonal-architecture
    - template
  annotations:
    github.com/project-slug: {{github_org}}/backstage-templates
    backstage.io/techdocs-ref: dir:.
    backstage.io/source-template: template:default/{{template_id}}
    github.com/workflows: ci-cd.yml
spec:
  type: service
  owner: {{default_owner}}
  lifecycle: production
  system: {{system_name}}
