spring:
  datasource:
    url: jdbc:{{database.sgbd}}://localhost:{{database.port}}/{{project.general.name_underscore}}_db
    username: {{database.username}}
    password: {{database.password}}
    driver-class-name: {{#database.postgresql}}org.postgresql.Driver{{/database.postgresql}}{{#database.mysql}}com.mysql.cj.jdbc.Driver{{/database.mysql}}{{#database.oracle}}oracle.jdbc.OracleDriver{{/database.oracle}}{{#database.sqlserver}}com.microsoft.sqlserver.jdbc.SQLServerDriver{{/database.sqlserver}}
  jpa:
    database-platform: {{#database.postgresql}}org.hibernate.dialect.PostgreSQLDialect{{/database.postgresql}}{{#database.mysql}}org.hibernate.dialect.MySQL8Dialect{{/database.mysql}}{{#database.oracle}}org.hibernate.dialect.Oracle12cDialect{{/database.oracle}}{{#database.sqlserver}}org.hibernate.dialect.SQLServerDialect{{/database.sqlserver}}
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: false
    enabled: true

server:
  port: {{server.port}}

logging:
  level:
    root: DEBUG
    org.springframework.security: DEBUG

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    try-it-out-enabled: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always